<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - THLTWeb_WebsiteBanHang</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/THLTWeb_WebsiteBanHang.styles.css" asp-append-version="true" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

</head>
@* <body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">THLTWeb_WebsiteBanHang</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Products" asp-action="Index">Products</a>
                        </li>
                        @* <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="ProductImages" asp-action="Index">ProductImages</a>
                        </li> *@
                       @*  <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Categories" asp-action="Index">Categories</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - THLTWeb_WebsiteBanHang - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false) *@
@* </body> *@
<body>
    <header class="bg-success text-white text-center py-4">
        <h1>Trang web bán hàng</h1>
    </header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-warning">
        <div class="container">
            <a class="navbar-brand" href="/Products">Trang chủ</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" href="/Categories">Danh mục</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container mt-4">
        <div class="row">
            <div class="col-md-9">
                @RenderBody()
            </div>
            <div class="col-md-3">
                <div class="bg-primary text-white p-3">
                    <h5>Social Media</h5>
                    <ul class="list-unstyled">
                        <li>
                            <i class='bx bxl-facebook-square'></i>
                            <a class="text-white text-decoration-none" href="#">Facebook</a>
                        </li>
                        <li>
                            <i class='bx bxl-twitter'></i>
                            <a class="text-white text-decoration-none" href="#">Twitter</a>
                        </li>
                        <li>
                            <i class='bx bxl-instagram-alt'></i>
                            <a class="text-white text-decoration-none" href="#">Instagram</a>
                        </li>
                        <li>
                            <i class='bx bxl-linkedin-square'></i>
                            <a class="text-white text-decoration-none" href="#">LinkedIn</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-4">
                <div class="bg-dark text-white text-center py-4">
                    <h3>Cột 1</h3>
                    <p>Nội dung cột 1.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="bg-dark text-white text-center py-4">
                    <h3>Cột 2</h3>
                    <p>Nội dung cột 2.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="bg-dark text-white text-center py-4">
                    <h3>Cột 3</h3>
                    <p>Nội dung cột 3.</p>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
